@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

.roboto-serif-font {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

/* icon and button animation */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .btn-box-hover:hover {
    box-shadow:
      0 0 5px #00FFFF,
      0 0 25px #00FFFF,
      0 0 50px #00FFFF,
      0 0 100px #00FFFF,
      0 0 200px #00FFFF;
  }
}

/* profile animation */
.profile-container {
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(45deg, #00f0ff, #ff00f0, #00f0ff);
  animation: glow 2.5s infinite ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #000;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px #00f0ff, 0 0 40px #ff00f0, 0 0 60px #00f0ff;
  }

  50% {
    box-shadow: 0 0 40px #ff00f0, 0 0 60px #00f0ff, 0 0 80px #ff00f0;
  }

  100% {
    box-shadow: 0 0 20px #00f0ff, 0 0 40px #ff00f0, 0 0 60px #00f0ff;
  }
}


html {
  scroll-behavior: smooth;
}